body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b71f1f;
    color: #333;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    margin: 20px;
    background-color: #333;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

header {
    background: #4CAF50;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

header h1 {
    font-size: 3rem;
}

header p {
    font-size: 1.2rem;
}

section {
    padding: 40px;
    margin: 20px;
}

#mapContainer {
    height: 500px;
    background-color: #e0e0e0; /* Just a placeholder */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #37aa3d;
}
